#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

#modal-content {
  position: absolute;
  background-color:white;
}
